<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guo.dao.T_weapon_shrapnel_infoMapper" >
  <resultMap id="BaseResultMap" type="guo.entity.T_weapon_shrapnel_info" >
    <id column="w_info_id" property="wInfoId" jdbcType="INTEGER" />
    <result column="w_info_name" property="wInfoName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="DOUBLE" />
    <result column="w_info_model_id" property="wInfoModelId" jdbcType="CHAR" />
    <result column="w_info_shrapnel_type" property="wInfoShrapnelType" jdbcType="INTEGER" />
    <result column="w_info_shrapnel_caliber" property="wInfoShrapnelCaliber" jdbcType="DOUBLE" />
    <result column="w_info_shrapnel_weight" property="wInfoShrapnelWeight" jdbcType="DOUBLE" />
    <result column="w_info_shrapnel_speed" property="wInfoShrapnelSpeed" jdbcType="DOUBLE" />
    <result column="w_info_max_shot" property="wInfoMaxShot" jdbcType="INTEGER" />
    <result column="w_info_min_shot" property="wInfoMinShot" jdbcType="INTEGER" />
    <result column="w_info_theory_speed" property="wInfoTheorySpeed" jdbcType="INTEGER" />
    <result column="w_info_height_limit" property="wInfoHeightLimit" jdbcType="INTEGER" />
    <result column="w_info_direction_limit" property="wInfoDirectionLimit" jdbcType="INTEGER" />
    <result column="w_info_cassette_capacitance" property="wInfoCassetteCapacitance" jdbcType="INTEGER" />
    <result column="w_info_made" property="wInfoMade" jdbcType="INTEGER" />
    <result column="w_info_campaign_f" property="wInfoCampaignF" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    w_info_id, w_info_name, type_id, w_info_model_id, w_info_shrapnel_type, w_info_shrapnel_caliber, 
    w_info_shrapnel_weight, w_info_shrapnel_speed, w_info_max_shot, w_info_min_shot, 
    w_info_theory_speed, w_info_height_limit, w_info_direction_limit, w_info_cassette_capacitance, 
    w_info_made, w_info_campaign_f
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from T_weapon_shrapnel_info
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_weapon_shrapnel_info
    where w_info_id = #{wInfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_weapon_shrapnel_info
    where w_info_id = #{wInfoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="guo.entity.T_weapon_shrapnel_info" >
    insert into t_weapon_shrapnel_info (w_info_id, w_info_name, type_id, 
      w_info_model_id, w_info_shrapnel_type, w_info_shrapnel_caliber, 
      w_info_shrapnel_weight, w_info_shrapnel_speed, 
      w_info_max_shot, w_info_min_shot, w_info_theory_speed, 
      w_info_height_limit, w_info_direction_limit, 
      w_info_cassette_capacitance, w_info_made, w_info_campaign_f
      )
    values (#{wInfoId,jdbcType=INTEGER}, #{wInfoName,jdbcType=VARCHAR}, #{typeId,jdbcType=DOUBLE}, 
      #{wInfoModelId,jdbcType=CHAR}, #{wInfoShrapnelType,jdbcType=INTEGER}, #{wInfoShrapnelCaliber,jdbcType=DOUBLE}, 
      #{wInfoShrapnelWeight,jdbcType=DOUBLE}, #{wInfoShrapnelSpeed,jdbcType=DOUBLE}, 
      #{wInfoMaxShot,jdbcType=INTEGER}, #{wInfoMinShot,jdbcType=INTEGER}, #{wInfoTheorySpeed,jdbcType=INTEGER}, 
      #{wInfoHeightLimit,jdbcType=INTEGER}, #{wInfoDirectionLimit,jdbcType=INTEGER}, 
      #{wInfoCassetteCapacitance,jdbcType=INTEGER}, #{wInfoMade,jdbcType=INTEGER}, #{wInfoCampaignF,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="guo.entity.T_weapon_shrapnel_info" useGeneratedKeys="true" keyProperty="wInfoId">
    insert into t_weapon_shrapnel_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wInfoId != null" >
        w_info_id,
      </if>
      <if test="wInfoName != null" >
        w_info_name,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="wInfoModelId != null" >
        w_info_model_id,
      </if>
      <if test="wInfoShrapnelType != null" >
        w_info_shrapnel_type,
      </if>
      <if test="wInfoShrapnelCaliber != null" >
        w_info_shrapnel_caliber,
      </if>
      <if test="wInfoShrapnelWeight != null" >
        w_info_shrapnel_weight,
      </if>
      <if test="wInfoShrapnelSpeed != null" >
        w_info_shrapnel_speed,
      </if>
      <if test="wInfoMaxShot != null" >
        w_info_max_shot,
      </if>
      <if test="wInfoMinShot != null" >
        w_info_min_shot,
      </if>
      <if test="wInfoTheorySpeed != null" >
        w_info_theory_speed,
      </if>
      <if test="wInfoHeightLimit != null" >
        w_info_height_limit,
      </if>
      <if test="wInfoDirectionLimit != null" >
        w_info_direction_limit,
      </if>
      <if test="wInfoCassetteCapacitance != null" >
        w_info_cassette_capacitance,
      </if>
      <if test="wInfoMade != null" >
        w_info_made,
      </if>
      <if test="wInfoCampaignF != null" >
        w_info_campaign_f,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wInfoId != null" >
        #{wInfoId,jdbcType=INTEGER},
      </if>
      <if test="wInfoName != null" >
        #{wInfoName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=DOUBLE},
      </if>
      <if test="wInfoModelId != null" >
        #{wInfoModelId,jdbcType=CHAR},
      </if>
      <if test="wInfoShrapnelType != null" >
        #{wInfoShrapnelType,jdbcType=INTEGER},
      </if>
      <if test="wInfoShrapnelCaliber != null" >
        #{wInfoShrapnelCaliber,jdbcType=DOUBLE},
      </if>
      <if test="wInfoShrapnelWeight != null" >
        #{wInfoShrapnelWeight,jdbcType=DOUBLE},
      </if>
      <if test="wInfoShrapnelSpeed != null" >
        #{wInfoShrapnelSpeed,jdbcType=DOUBLE},
      </if>
      <if test="wInfoMaxShot != null" >
        #{wInfoMaxShot,jdbcType=INTEGER},
      </if>
      <if test="wInfoMinShot != null" >
        #{wInfoMinShot,jdbcType=INTEGER},
      </if>
      <if test="wInfoTheorySpeed != null" >
        #{wInfoTheorySpeed,jdbcType=INTEGER},
      </if>
      <if test="wInfoHeightLimit != null" >
        #{wInfoHeightLimit,jdbcType=INTEGER},
      </if>
      <if test="wInfoDirectionLimit != null" >
        #{wInfoDirectionLimit,jdbcType=INTEGER},
      </if>
      <if test="wInfoCassetteCapacitance != null" >
        #{wInfoCassetteCapacitance,jdbcType=INTEGER},
      </if>
      <if test="wInfoMade != null" >
        #{wInfoMade,jdbcType=INTEGER},
      </if>
      <if test="wInfoCampaignF != null" >
        #{wInfoCampaignF,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="guo.entity.T_weapon_shrapnel_info" >
    update t_weapon_shrapnel_info
    <set >
      <if test="wInfoName != null" >
        w_info_name = #{wInfoName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=DOUBLE},
      </if>
      <if test="wInfoModelId != null" >
        w_info_model_id = #{wInfoModelId,jdbcType=CHAR},
      </if>
      <if test="wInfoShrapnelType != null" >
        w_info_shrapnel_type = #{wInfoShrapnelType,jdbcType=INTEGER},
      </if>
      <if test="wInfoShrapnelCaliber != null" >
        w_info_shrapnel_caliber = #{wInfoShrapnelCaliber,jdbcType=DOUBLE},
      </if>
      <if test="wInfoShrapnelWeight != null" >
        w_info_shrapnel_weight = #{wInfoShrapnelWeight,jdbcType=DOUBLE},
      </if>
      <if test="wInfoShrapnelSpeed != null" >
        w_info_shrapnel_speed = #{wInfoShrapnelSpeed,jdbcType=DOUBLE},
      </if>
      <if test="wInfoMaxShot != null" >
        w_info_max_shot = #{wInfoMaxShot,jdbcType=INTEGER},
      </if>
      <if test="wInfoMinShot != null" >
        w_info_min_shot = #{wInfoMinShot,jdbcType=INTEGER},
      </if>
      <if test="wInfoTheorySpeed != null" >
        w_info_theory_speed = #{wInfoTheorySpeed,jdbcType=INTEGER},
      </if>
      <if test="wInfoHeightLimit != null" >
        w_info_height_limit = #{wInfoHeightLimit,jdbcType=INTEGER},
      </if>
      <if test="wInfoDirectionLimit != null" >
        w_info_direction_limit = #{wInfoDirectionLimit,jdbcType=INTEGER},
      </if>
      <if test="wInfoCassetteCapacitance != null" >
        w_info_cassette_capacitance = #{wInfoCassetteCapacitance,jdbcType=INTEGER},
      </if>
      <if test="wInfoMade != null" >
        w_info_made = #{wInfoMade,jdbcType=INTEGER},
      </if>
      <if test="wInfoCampaignF != null" >
        w_info_campaign_f = #{wInfoCampaignF,jdbcType=INTEGER},
      </if>
    </set>
    where w_info_id = #{wInfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="guo.entity.T_weapon_shrapnel_info" >
    update t_weapon_shrapnel_info
    set w_info_name = #{wInfoName,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=DOUBLE},
      w_info_model_id = #{wInfoModelId,jdbcType=CHAR},
      w_info_shrapnel_type = #{wInfoShrapnelType,jdbcType=INTEGER},
      w_info_shrapnel_caliber = #{wInfoShrapnelCaliber,jdbcType=DOUBLE},
      w_info_shrapnel_weight = #{wInfoShrapnelWeight,jdbcType=DOUBLE},
      w_info_shrapnel_speed = #{wInfoShrapnelSpeed,jdbcType=DOUBLE},
      w_info_max_shot = #{wInfoMaxShot,jdbcType=INTEGER},
      w_info_min_shot = #{wInfoMinShot,jdbcType=INTEGER},
      w_info_theory_speed = #{wInfoTheorySpeed,jdbcType=INTEGER},
      w_info_height_limit = #{wInfoHeightLimit,jdbcType=INTEGER},
      w_info_direction_limit = #{wInfoDirectionLimit,jdbcType=INTEGER},
      w_info_cassette_capacitance = #{wInfoCassetteCapacitance,jdbcType=INTEGER},
      w_info_made = #{wInfoMade,jdbcType=INTEGER},
      w_info_campaign_f = #{wInfoCampaignF,jdbcType=INTEGER}
    where w_info_id = #{wInfoId,jdbcType=INTEGER}
  </update>
</mapper>